<header>
  <a href="/">Sebrané skici</a>
  <a href="/archive" class="<%= title === 'Archiv' ? 'active' : '' %>">Archiv</a>
  <a href="/about" class="<%= title === 'O projektu' ? 'active' : '' %>">O projektu</a>
</header>