<div class="about-box">
    <h1>O Sebraných Skicách</h1>
    <div class="about-info-wrapper">
        <img id="about-img" src="img/comics/4.jpg" alt="Moje ilustrace">
        <div id="about-text">
            <p>Sebrané skici jsou můj projekt, ve kterém se snažím každý den nakreslit vtipný obrázek po dobu jednoho roku.</p>
            <p>Tohle je můj dar, má kletba. Kdo jsem já? Jsem Spider-Man.</p> 
            <p>Pokud mě budete chtít kontaktovat, napište mi na e-mail <a href="mailto:autor@sebraneskici.cz">autor@sebraneskici.cz</a>, nebo na instagram <a href="https://www.instagram.com/sebraneskici">@sebraneskici.</a></p>
        </div>
    </div>
</div>