<div class="about-box">
    <h1>Kontakt</h1>
        <p><strong>e-mail:</strong> <a href="mailto:autor@sebraneskici.cz">autor@sebraneskici.cz</a></p>          
        <p><strong>Instagram:</strong> <a href="https://www.instagram.com/sebraneskici">@sebraneskici.</a></p> 
        <img id="about-img" src="img/comics/8.jpg" alt="Skica Spojím vás s kolegem!">         
</div>